<!DOCTYPE html>
<head>
  <title>Novlr</title>
  <!-- vendor -->
  <link rel="stylesheet" href="/dist/styles/signed_out-deps.min.css">

  <!-- own -->
  <link rel="stylesheet" href="/dist/styles/style.min.css">
</head>
<body>

  <%- body %>

  <!-- vendor -->
  <script type="text/javascript" src="/dist/scripts/signed_out-deps.min.js"></script>

  <!-- own -->
  <script type="text/javascript" src="/dist/scripts/sign_up.min.js"></script>
</body>
</html>