<% layout('layouts/signedout') -%>

<div class="novlrcontainer signup modal">

  <form action="/login" method="post" class="login">
    <div class="modal-head"><img class="modal-icon" src="/public/images/iconmonstr-pencil-8-icon-22.png"></div>
    <h2>Sign in</h2>
        <div class="form-body">
        <div class="form-fields">
          <p class="error"><%= error %></p>
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" class="button" value="Log in" style="width:297px;">
        </div>
          <p>Not signed up yet?
            <a href="/signup">Create an account</a></p>
      </div>
    </form>

</div>