<div class="modal-header">
    <div class="modal-head" ></div>
    <h2 class="modal-title">Oops, you've lost the internet!</h2>
</div>
<div class="modal-body">
    Quick go find it! You can't use Novlr offline as it won't save (pretty big deal) so try and find connection and refresh or click below to reconnect to the app. If you think this message has shown in error, please <a href="https://gitreports.com/issue/Novlr/novlr-beta">report it as a bug</a>.
</div>
<div class="modal-footer">
    <button class="primary" onclick="location.reload(true);">Try to connect</button>
</div>