<p>Hello there,</p>
<p><br></p>
<p>Welcome to Novlr. This is where you'll write your novel. That is exciting.</p>
<p><br></p>
<p><i>How?</i>  Well, first things first. You'll see the title you gave your novel in the header at the top left of the page. Click it. Go on... do it. Voilà - your chapter list. There is only one chapter in there at the moment, this one.</p>
<p><br></p>
<p>Click it again. Doooo it. And now you're back on the page, free from distraction, able to just write. Click somewhere among my words and write some of your own words. Any words. As soon as you've written them they're saved. As you write, check out the little blue save status in the bottom right.</p>
<p><br></p>
<p><b>Settings, word counts and formatting</b></p>
<p>So starting in the top right of the screen and working clockwise we have; your menu, where you'll find settings, feedback and signout; then, bottom right, word count for this chapter and save status; and then lastly, bottom left are your formatting options. It's as simple as that. Go and check out settings, where you will also find a full word count for your novel. Then come back to the editor and format some of my words. Be bold.</p>
<p><br></p>
<p><b>Your first chapter</b></p>
<p>Go into your chapter list, and hit 'Create new chapter'. This will take you to your new chapter, so be sure to come back. Give it a title, then add some words. You've done it. You're a novlrist* now.</p>
<p><br></p>
<p><b>Moving chapters</b></p>
<p>Click on the chapter and drag it to where you want it to be.</p>
<p><br></p>
<p><b>Deleting chapters</b></p>
<p>Hover on the chapter and click the little dustbin/trash can/waste paper basket.</p>
<p><br></p>
<p><b>Feedback</b></p>
<p>So you have played with our prototype! How was it? How does it feel? Did you find a bug? In the user menu, top right, you will find a link to 'report a bug'. Go in there and tell us everything.</p>
<p><br></p>
<p>Much happy thanks from Kim & Thomas</p>
<p><br></p>
<p>*not a real word. We're ok if it doesn't catch on.</p>
<p><br></p>
<p><br></p>